<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/img/logo.png" type="image">
    <title>Gamers | Juegos</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    {% if es_admin %}
        {% include 'navbarAdmin.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
    <div style="height: 70px;"></div>
    <main class="games-container">
        <section class="game-item">
            <img src="{{noticia.Img}}">
            <h2>{{noticia.Titulo}}</h2>
            <h3>{{noticia.Subtitulo}}</h3>
            <p>{{noticia.Contenido}}</p>
            <a href="#">Descargar</a>
        </section>
    </main>
</body>
</html>