<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Añadir Contenido</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    {% if es_admin %}
        {% include 'navbarAdmin.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
    <div class="wrapper">
        <h2>Añadir Contenido</h2>
        <div class="add-container">
            <div class="add-section add-news">
                <h3>Añadir Noticia</h3>
                <form action="{{ url_for('BPnoticias.add_noticia') }}" method="post" enctype="multipart/form-data">
                    <div class="input-field">
                        <input type="text" placeholder="Título de la noticia" name="Titulo" id="Titulo" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Subtítulo de la noticia" name="Subtitulo" id="Subtitulo" required>
                    </div>
                    <div class="input-field">
                        <input type="date" placeholder="Fecha de la noticia" name="Fecha" id="Fecha" required>
                    </div>
                    <div class="input-field">
                        <textarea style="max-width: 100%; width: 100%;" placeholder="Contenido de la noticia" name="Contenido" id="Contenido" required></textarea>
                    </div>
                    <div class="input-field">
                        <input type="file" name="Img" id="Img" accept="image/*" required>
                    </div>
                    <button type="submit">Añadir Noticia</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
