<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Añadir Contenido</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    {% if es_admin %}
        {% include 'navbarAdmin.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
    <div class="wrapper">
        <h2>Añadir Contenido</h2>
        <div class="add-container">
            <div class="add-section add-games">
                <h3>Añadir Usuario</h3>
                <form action="{{ url_for('BPusuarios.register_user') }}" method="post">
                    <div class="input-field">
                        <input type="text" placeholder="Nombre" name="Nombre" id="Nombre" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Apellidos" name="Apellidos" id="Apellidos" required>
                    </div>
                    <div class="input-field">
                        <input type="date" placeholder="Fecha de nacimiento" name="FechaNacimiento" id="FechaNacimiento" required>
                    </div>
                    <div class="input-field">
                        <select name="Pais" id="Pais" required>
                            <option value="" disabled selected>Selecciona tu país</option>
                            <option value="es">España</option>
                            <option value="mx">México</option>
                            <option value="ar">Argentina</option>
                            <option value="cl">Chile</option>
                            <option value="co">Colombia</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <input type="email" placeholder="Email" name="Email" id="Email" required>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Contraseña" name="Contraseña" id="Contraseña" required>
                    </div>
                    <div class="input-field">
                        <label for="EsAdmin">Permisos Admin</label><br>
                        <input type="checkbox" placeholder="Usuario Admin" name="EsAdmin" id="EsAdmin">
                    </div>
                    <button type="submit">Añadir usuario</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
