<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/img/logo.png" type="image">
    <title>Gamers | Perfil</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    {% if es_admin %}
        {% include 'navbarAdmin.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
    <main class="profile-container">
        <div class="profile-card-wrapper">
            <button class="nav-btn prev-btn"><</button>
            <div class="profile-card">
                <img src="../../static/img/avatar.png" alt="Avatar" class="profile-avatar">
                <h2>Nombre del Usuario</h2>
                <p><strong>Email:</strong> usuario@example.com</p>
                <p><strong>Fecha de nacimiento:</strong> 01/01/2000</p>
                <p><strong>País:</strong> España</p>
                <button class="edit-profile-btn">Editar Perfil</button>
            </div>
            <button class="nav-btn next-btn">></button>
        </div>
    </main>
</body>
</html>
