<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Añadir Contenido</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="./index.html">
                <img src="../static/img/logo.png" alt="SEGA Logo" style="height: 50px;">
            </a>
        </div>
        <div class="menu">
            <a href="./games.html">Juegos</a>
            <a href="./news.html">Noticias</a>
        </div>
        <div class="login-container">
            <a href="./login.html" class="login">
                <img src="../static/img/login.png" alt="Login" style="height: 40px; width: auto; position: relative; top: 5px;">
            </a>
        </div>
    </nav>
    <div style="height: 70px;"></div>
    <div class="wrapper">
        <h2>Añadir Contenido</h2>
        <div class="add-container">
            <div class="add-section add-games">
                <h3>Añadir Juego</h3>
                <form action="#" method="post">
                    <div class="input-field">
                        <input type="text" placeholder="Nombre del Juego" required>
                    </div>
                    <div class="input-field">
                        <textarea placeholder="Descripción del Juego" required></textarea>
                    </div>
                    <div class="input-field">
                        <input type="url" placeholder="URL de la Imagen" required>
                    </div>
                    <button type="submit">Añadir Juego</button>
                </form>
            </div>
            <div class="add-section add-news">
                <h3>Añadir Noticia</h3>
                <form action="#" method="post">
                    <div class="input-field">
                        <input type="text" placeholder="Título de la Noticia" required>
                    </div>
                    <div class="input-field">
                        <textarea placeholder="Descripción de la Noticia" required></textarea>
                    </div>
                    <div class="input-field">
                        <input type="url" placeholder="URL de la Imagen" required>
                    </div>
                    <button type="submit">Añadir Noticia</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
