<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>SEGA Homepage</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">SEGA</div>
        <div class="menu">
            <a href="./juegos.html">Juegos</a>
            <a href="./noticias.html">Noticias</a>
        </div>
        <a href="./login.html" class="login">Login</a>
    </nav>
    <div style="height: 70px;"></div>
    <main>
        <!-- Add your main content here -->
    </main>
</body>
</html>