<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Noticias</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="./index.html">
                <img src="../static/img/logo.png" alt="SEGA Logo" style="height: 50px;">
            </a>
        </div>
        <div class="menu">
            <a href="./games.html">Juegos</a>
            <a href="./news.html">Noticias</a>
        </div>
        <div class="login-container">
            <a href="./login.html" class="login">
                <img src="../static/img/login.png" alt="Login" style="height: 40px; width: auto; position: relative; top: 5px;">
            </a>
        </div>
    </nav>
    <div style="height: 70px;"></div>
    <main class="news-container">
        <section class="news-item">
            <img src="../static/img/steam.png" alt="Noticia 1">
            <h2>Título de la Noticia 1</h2>
            <p>Descripción breve de la noticia 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Leer más</a>
        </section>
        <section class="news-item">
            <img src="../static/img/epic.png" alt="Noticia 2">
            <h2>Título de la Noticia 2</h2>
            <p>Descripción breve de la noticia 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Leer más</a>
        </section>
        <section class="news-item">
            <img src="../static/img/ubisoft.png" alt="Noticia 3">
            <h2>Título de la Noticia 3</h2>
            <p>Descripción breve de la noticia 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Leer más</a>
        </section>
    </main>
</body>
</html>