<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Perfil</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="./index.html">
                <img src="../static/img/logo.png" alt="SEGA Logo" style="height: 50px;">
            </a>
        </div>
        <div class="menu">
            <a href="./games.html">Juegos</a>
            <a href="./news.html">Noticias</a>
        </div>
        <div class="login-container">
            <a href="./login.html" class="login">
                <img src="../static/img/login.png" alt="Login" style="height: 40px; width: auto; position: relative; top: 5px;">
            </a>
        </div>
    </nav>
    <div style="height: 70px;"></div>
    <main class="profile-container">
        <div class="profile-card-wrapper">
            <button class="nav-btn prev-btn"><</button>
            <div class="profile-card">
                <img src="../static/img/avatar.png" alt="Avatar" class="profile-avatar">
                <h2>Nombre del Usuario</h2>
                <p><strong>Email:</strong> usuario@example.com</p>
                <p><strong>Fecha de nacimiento:</strong> 01/01/2000</p>
                <p><strong>País:</strong> España</p>
                <button class="edit-profile-btn">Editar Perfil</button>
            </div>
            <button class="nav-btn next-btn">></button>
        </div>
    </main>
</body>
</html>
