<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Registro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <form action="#">
            <h2>👻 GAYMERS 👻</h2>
            <div class="input-field">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="input-field">
                <input type="date" placeholder="Fecha de nacimiento" required>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Nombre" required>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Apellidos" required>
            </div>
            <div class="input-field">
                <select required>
                    <option value="" disabled selected>Selecciona tu país</option>
                    <option value="es">España</option>
                    <option value="mx">México</option>
                    <option value="ar">Argentina</option>
                    <option value="cl">Chile</option>
                    <option value="co">Colombia</option>
                </select>
            </div>
            <button type="submit">Registrarse</button>
            <div class="login">
                <span class="text">¿Ya tienes una cuenta?</span>
                <a href="./login.html">Inicia sesión</a>
            </div>
        </form>
    </div>
</body>
</html>
