<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Añadir Contenido</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    {% if es_admin %}
        {% include 'navbarAdmin.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
    <div class="wrapper">
        <h2>Añadir Contenido</h2>
        <div class="add-container">
            <div class="add-section add-games">
                <h3>Añadir Juego</h3>
                <form action="{{ url_for('BPjuegos.add_game') }}" method="post" enctype="multipart/form-data">
                    <div class="input-field">
                        <input type="text" placeholder="Nombre del Juego" name="Nombre" id="Nombre" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Género del Juego" name="Genero" id="Genero" required>
                    </div>
                    <div class="input-field">
                        <textarea style="max-width: 100%; width: 100%;" placeholder="Descripción del Juego" name="Descripcion" id="Descripcion" required></textarea>
                    </div>
                    <div class="input-field">
                        <input type="file" name="Img" id="Img" accept="image/*" required>
                    </div>
                    <button type="submit">Añadir Juego</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
