<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.png" type="image">
    <title>Gamers | Juegos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('cargar_index') }}">
                <img src="../static/img/logo.png" alt="SEGA Logo" style="height: 50px;">
            </a>
        </div>
        <div class="menu">
            <a href="{{ url_for('BPjuegos.juegos') }}">Juegos</a>
            <a href="{{ url_for('BPnoticias.noticias') }}">Noticias</a>
        </div>
        <div class="login-container">
            <a href="./login.html" class="login">
                <img src="../static/img/login.png" alt="Login" style="height: 40px; width: auto; position: relative; top: 5px;">
            </a>
        </div>
    </nav>
    <div style="height: 70px;"></div>
    <main class="games-container">
        <section class="game-item">
            <img src="../static/img/rocket.jpg" alt="Rocket">
            <h2>Nombre del Juego 1</h2>
            <p>Descripción breve del juego 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Descargar</a>
        </section>
        <section class="game-item">
            <img src="../static/img/lol.jpg" alt="LoL">
            <h2>Nombre del Juego 2</h2>
            <p>Descripción breve del juego 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Descargar</a>
        </section>
        <section class="game-item">
            <img src="../static/img/valorant.jpg" alt="Valorant">
            <h2>Nombre del Juego 3</h2>
            <p>Descripción breve del juego 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Descargar</a>
        </section>
    </main>
</body>
</html>